<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace目前可以自定义要唯一，将来面向接口编程时对应dao接口，
一 个mapper相当于一个dao接口的实现类 -->
<mapper namespace="com.jxd.dao.IScoreDao">
    <select id="getAllScore" resultType="map">
        SELECT
        student.stuId,
        student.stuName,
        class.className,
        <foreach collection="courseList" item="course" separator=",">
            ${course.courseName}.score ${course.courseName}
        </foreach>
        FROM
        student
        <foreach collection="courseList" item="course" separator=" ">
            LEFT JOIN score ${course.courseName} ON student.stuId = ${course.courseName}.stuId
            AND ${course.courseName}.courseId = ${course.courseId}
        </foreach>
        left join class on class.classId = student.classId
    </select>

    <select id="getAllScoreByPage" resultType="map">
        SELECT
        student.stuId,
        student.stuName,
        class.className,
        <foreach collection="courseList" item="course" separator=",">
            ${course.courseName}.score ${course.courseName}
        </foreach>
        FROM
        student
        <foreach collection="courseList" item="course" separator=" ">
            LEFT JOIN score ${course.courseName} ON student.stuId = ${course.courseName}.stuId
            AND ${course.courseName}.courseId = ${course.courseId}
        </foreach>
        left join class on class.classId = student.classId
        <where>
            stuName like concat('%',#{stuName},'%')
            <if test="classId != 0">
                and class.classId = #{classId}
            </if>
        </where>
        order by student.stuId limit #{pageIndex},#{pageSize}
    </select>
<!--List<Map<String, Object>> getStuNameByClass(int classId);-->
    <select id="getStuNameByClass" resultType="map">
        SELECT stuid,stuname
        FROM student
        where classId = #{classId}
    </select>

<!--    <select id="getAllScore" resultType="Map">-->
<!--        SELECT stuId,courseId,score-->
<!--        FROM score-->
<!--    </select>-->

    <!--boolean addScore(@Param("stuId") int stuId,@Param("scoreList") List<Score> scoreList);-->
    <insert id="addScore">
        <foreach collection="scoreList" item="score" separator=";">
            INSERT INTO score(stuId,courseId,score)
            VALUES (#{stuId},#{score.courseId},#{score.score})
            on DUPLICATE KEY UPDATE score = #{score.score}
        </foreach>
    </insert>

    <select id="getScoreByStuId" resultType="map">
        SELECT s.stuId,s.courseId,s.score, c.courseName
        FROM score s left join course c
        on s.courseId = c.courseId
        WHERE s.stuId= #{stuId}
    </select>

    <delete id="delScore">
        DELETE FROM score
        WHERE stuId = #{stuId}
    </delete>

    <delete id="delScores">
        delete from score where stuId in ${stuIds}
    </delete>
</mapper>