<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace目前可以自定义要唯一，将来面向接口编程时对应dao接口，
一 个mapper相当于一个dao接口的实现类 -->
<mapper namespace="com.jxd.dao.IUserDao">
    <!--User getUserByUserId(int userId);-->
    <sql id="baseSql">
        select userId,userName,pwd,phone,email,note,flag,loginTime,deptId from followsystem.user
    </sql>
    <select id="getUserByUserId" resultType="User">
        <include refid="baseSql"></include>
        where userid = #{userId}
    </select>
    <update id="setLoginTime">
        UPDATE followsystem.user
        SET loginTime=#{loginTime}
        WHERE userId=#{userId}
    </update>
    <select id="getAllUsers" resultType="Map">
        SELECT u.userId,u.userName,u.pwd,u.phone,u.email,u.note,u.flag,u.loginTime,d.deptName
        FROM followsystem.user u
        LEFT JOIN dept d
        ON u.deptId=d.deptId
        <where>
            <if test="userName !=''">
                u.userName like concat('%', #{userName}, '%')
            </if>
            <if test="deptId != 0">
                and u.deptId = #{deptId}
            </if>
        </where>
    </select>

    <select id="getAllUserByPage" resultType="Map">
        SELECT u.userId,u.userName,u.pwd,u.phone,u.email,u.note,u.flag,u.loginTime,d.deptName
        FROM followsystem.user u
        LEFT JOIN dept d
        ON u.deptId=d.deptId
        <where>
            <if test="userName !=''">
                u.userName like concat('%', #{userName}, '%')
            </if>
            <if test="deptId != 0">
                and u.deptId=#{deptId}
            </if>
        </where>
        order by u.userId
        limit #{pageIndex},#{pageSize}
    </select>
    <insert id="addUser">
        INSERT INTO followsystem.user(userName,pwd,phone,email,note,deptId)
        VALUES (#{userName},#{pwd},#{phone},#{email},#{note},#{deptId})
    </insert>
    <update id="updUser">
        UPDATE followsystem.user
        SET userName=#{userName}
        ,pwd=#{pwd}
        ,phone=#{phone}
        ,email=#{email}
        ,note=#{note}
        ,deptId=#{deptId}
        WHERE userId=#{userId}
    </update>

    <!--boolean delUserByUserId(int userId);-->
    <delete id="delUserByUserId">
        delete from followsystem.user where userId = #{userId}
    </delete>

    <!--boolean delUsersByUserId(String userIds);-->
    <delete id="delUsersByUserId">
        delete from followsystem.user where userId in ${userIds}
    </delete>

</mapper>